.catalog {
  height: 1103px;
  padding-bottom: 100px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    width: 222px;
    height: 52px;
    border: 2px solid $light-gray-color;
    color: $black-color;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: $gray-color;
    background: $white-color;
    text-transform: uppercase;
    line-height: 48px;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      box-shadow: 3px 3px 20px $red-color;
      border: none;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      background: $red-color;
      color: $white-color;
      border: none;
    }
  }
  &__content {
    margin-top: 60px;
  }
  &-item {
    width: 303px;
    min-height: 442px;
    border: 2px solid $light-gray-color;
    padding: 20px 20px 26px 20px;
    &__img {
      max-width: 100%;
      height: 200px;
      display: block;
      margin: 0 auto;
    }
    &__subtitle {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }
    &__descr {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 300;
      line-height: 22.26px;
      text-align: center;
    }
    &__link {
      display: block;
      margin-top: 17px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: $red-color;
      text-decoration: uppercase;
      &:hover {
        color: $red-color;
      }
    }
    hr {
      border-bottom: none;
      background: $gray-color;
      margin: 19px 0 21px 0;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: $gray-color;
      text-decoration: line-through;
    }
    &__price {
      font-size: 20px;
      font-weight: 700;
      text-align: left;

    }
  }
}